@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');



.brand {
  font-family: 'Josefin Sans', cursive;
  font-size: large;
}

.dashboardContent {
  justify-content: center;

  > .dashboardRow {
    margin:  50px 50px 10px;
    // border: 1px solid rgb(25, 0, 255);

     > .dashboardCol{
      // border: 1px solid rgb(25, 0, 255);
      height:100%;
     }
  }
}

.percentage-circle {
  position: relative;
  display: inline-block;
  width: 120px; /* Adjust width of the circle */
  height: 120px; /* Adjust height of the circle */
}

.progress-ring {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-ring-circle {
  fill: none;
}

.divScoreContainer {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 15%;

  .diversityScore {
    // width: 100%;
    align-items: center;
    justify-content: center;
    
  }
  
}

